<div class="ms-footer">
  <div class="ms-container">
    <div class="ms-row">
      <div class="ms-col ms-col-6">
        <img
          src="{{imageLocation}}"
          class="image-location"
        />
      </div>
      <div class="ms-col ms-col-6">
        <h1 id="location" class="ms-heading-8">{{titleLocation}}</h1>
        <p>
          {{descriptionLocation}}
        </p>
        <p>
          <strong>{{titleAddress}}</strong>
          <br/>‍<br/>{{streetAddress}}
          <br/>{{locationAddress}}
          <br/>{{floorAddress}}
          <br/>{{phoneAddress}}</p>
      </div>
    </div>
  </div>
</div>
<div class="ms-section">
  <div class="ms-container">
    <footer class="ms-footer-wrap">
      <a href="#">
        <img
          src="{{socialImage}}"
          class="{{socialClassImage}}"/>
        </a>
          <img
        src="{{logoFooterImage}}"
        class="{{logoClassImage}}"/>
    </footer>
  </div>
</div>
