<app-header></app-header>
  <div *ngFor="let dataOne of sectionOne">
    <header id="hero-overlay" class="ms-banner">
        <div class="ms-centered-container ms-w-container">
          <h1>
           {{ dataOne.title }}
          </h1>
        </div>
    </header>
    <div class="ms-section ms-store-home-wrap">
      <div class="ms-container">
        <div class="ms-motto-wrap">
          <div class="ms-heading-jumbo-small">
              {{ dataOne.label }}<br />
          </div>
        </div>
        <div class="ms-divider"></div>
        <div class="ms-home-content-wrap">
            <div *ngFor="let dataTwo of sectionTwo">
              <div class="ms-layout-grid ms-about-grid">
                  <div id="ms-section-two">
                    <div class="ms-home-section-wrap">
                      <h2 id="Whoweare" class="ms-section-heading">{{dataTwo.title}}</h2>
                      <p class="ms-paragraph-light">
                          {{dataTwo.label}}
                      </p>
                    </div>
                  </div>
                  <img
                    src="{{dataTwo.image}}"
                    id="ms-image-section-two"
                    class="{{dataTwo.class}}"
                  />
              </div>
            </div>
          <div *ngFor="let dataThree of sectionThree">
            <div class="ms-layout-grid ms-about-grid ms-about-2">
                <div
                  id="ms-section-three"
                  class="ms-div-block"
                >
                  <div class="ms-home-section-wrap">
                    <h2 id="whatwedo" class="ms-section-heading">{{dataThree.title}}</h2>
                    <p class="ms-paragraph-light">
                        {{dataThree.label}}
                    </p>
                  </div>
                </div>
                <img
                  src="{{dataThree.image}}"
                  id="ms-image-section-three"
                  class="{{dataThree.class}}"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ms-services">      
    <div class="ms-services-grid" *ngFor="let item of commitmentItems">
        <img
        src="{{item.image}}"
        class="imagen-commitment"
      />
        <h1 class="ms-heading-8">{{item.title}}</h1>
        <p class="ms-paragraph-9" >
          {{item.description}}
        </p>
      </div>
  </div>
  <div class="ms-separator">
    <div class="ms-w-container">
      <div class="ms-divider"></div>
    </div>
  </div>
  <div class="ms-technologies">
    <div class="ms-container-3 ms-w-container">
      <div class="ms-layout-grid ms-grid-7" *ngFor="let item of technologyItems">
        <h1
          id="tecnology"
          class="ms-heading-25 ms-tecnology-title"
        >
          {{item.title}}
        </h1>
        <p
          id="ms-tecnology-description"
          class="ms-paragraph-18"
        >
          <br />{{item.description}} <br />
        </p>
      </div>
      <div *ngFor="let item of technologyItemsService" >
        <div class="ms-layout-grid {{item.class}}">
          <h1
            id="typeTechnology"
            class="ms-heading-26"
          >
            {{item.title}}
          </h1>
          <div *ngFor="let items of technologyItemsImage ; let index = index">
          <img 
            [src]="item.image[index].img"          
            class="ms-technologu-image"
          />      
       </div>
      </div>
     </div>
    </div>
  </div>
  <div class="ms-w-container">
    <div class="ms-divider"></div>
  </div>
  <div class="ms-footer">
    <div class="ms-container">
      <div class="ms-row">
        <div class="ms-col ms-col-6">
          <img
            src="{{imageLocation}}"
            class="image-location"
          />
        </div>
        <div class="ms-col ms-col-6">
          <h1 id="location" class="ms-heading-32">{{titleLocation}}</h1>
          <p class="ms-paragraph-19">
           {{descriptionLocation}} 
          </p>
          <p>
            <strong>{{titleAddress}}</strong>
            <br />‍<br />{{streetAddress}}
            <br />{{locationAddress}}
            <br />{{floorAddress}}
            <br />{{phoneAddress}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ms-section">
    <div class="ms-container">
      <footer class="ms-footer-wrap">
        <a href="#" class="ms-inline-block">
          <img
            src="{{socialImage}}"
            class="{{socialClassImage}}"/>
         </a>
           <img
          src="{{logoFooterImage}}"
          class="{{logoClassImage}}"/>
      </footer>
    </div>
  </div>

