<app-header></app-header>
  <div *ngFor="let dataOne of sectionOne">
    <header id="hero-overlay" class="ms-banner">
        <div class="ms-centered-container ms-w-container">
          <h1>
           {{ dataOne.title }}
          </h1>
        </div>
    </header>
    <div class="ms-section ms-store-home-wrap">
      <div class="ms-container">
        <div class="ms-motto-wrap">
          <div class="ms-heading-jumbo-small">
              {{ dataOne.label }}<br />
          </div>
        </div>
        <div class="ms-divider"></div>
        <div class="ms-home-content-wrap">
            <div *ngFor="let dataTwo of sectionTwo">
              <div class="ms-layout-grid ms-about-grid">
                  <div id="ms-section-two">
                    <div class="ms-home-section-wrap">
                      <h2 id="Whoweare" class="ms-section-heading">{{dataTwo.title}}</h2>
                      <p class="ms-paragraph-light">
                          {{dataTwo.label}}
                      </p>
                    </div>
                  </div>
                  <img
                    src="{{dataTwo.image}}"
                    id="ms-image-section-two"
                    class="{{dataTwo.class}}"
                  />
              </div>
            </div>
          <div *ngFor="let dataThree of sectionThree">
            <div class="ms-layout-grid ms-about-grid ms-about-2">
                <div
                  id="ms-section-three"
                  class="ms-div-block"
                >
                  <div class="ms-home-section-wrap">
                    <h2 id="whatwedo" class="ms-section-heading">{{dataThree.title}}</h2>
                    <p class="ms-paragraph-light">
                        {{dataThree.label}}
                    </p>
                  </div>
                </div>
                <img
                  src="{{dataThree.image}}"
                  id="ms-image-section-three"
                  class="{{dataThree.class}}"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ms-services" *ngFor="let dataTitle of commitmentTitle" >
    <div *ngFor="let dataDescription of commitmentDescription">
      <div *ngFor="let dataImage of commitmentImage">
        <div *ngFor="let dataClass of commitmentClass">
      <div class="ms-container-2 ms-w-container">
        <div class="ms-layout-grid ms-grid-3">
          <img
            src="{{dataImage.imageOne}}"
            id="ms-image-commitment"
            class="{{dataClass.classOne}}"
          />
          <img
            src="{{dataImage.imageTwo}}"
            class="{{dataClass.classTwo}}"
          /><img
            src="{{dataImage.imageThree}}"
            class="{{dataClass.classThree}}"
          />
          <h1 class="ms-heading-8">{{dataTitle.titleOne}}</h1>
          <h1
            id="ms-title-Two"
            class="ms-heading-9"
          >
          {{dataTitle.titleTwo}}
          </h1>
          <h1 class="ms-heading-10">{{dataTitle.titleThree}}</h1>
          <p
            id="ms-description-one"
            class="ms-paragraph-9"
          >
            {{dataDescription.descriptionOne}}
          </p>
          <p class="ms-paragraph-8">
            <span>
                 {{dataDescription.descriptionTwo}}
            </span>
            <br />
          </p>
          <p class="ms-paragraph-6">
            {{dataDescription.descriptionThree}}
          </p>
        </div>
      </div>
     </div>
    </div>
   </div>
  </div>