<app-header></app-header>
<header class="msBanner">
  <div class="msCenteredContainer msContainerW">
    <h1>
      {{ sectionTitle }}
    </h1>
  </div>
</header>
<div class="msSection msStoreHomeWrap">
  <div class="msContainer">
    <div class="msMottoWrap">
      <div class="msHeadingJumboSmall">
          {{ sectionDescription }}<br />
      </div>
    </div>
      <div class="msDivider"></div>
      <div class="msHomeContentWrap">
        <div *ngFor="let items of sectionItems">
          <div class="{{items.class}}">
            <div id="{{items.id}}">
              <div class="msHomeSectionWrap">
                <h2 class="msSectionHeading">{{items.title}}</h2>
                <p class="msParagraphLight">
                    {{items.description}}
                </p>
              </div>
            </div>
            <img
              src="{{items.img}}"
              class="{{items.classImage}}"
            />
          </div>
        </div>
      </div>  
    </div>
</div>
<div class="msSeparator">
  <div class="msContainerW">
    <div class="msDivider"></div>
  </div>
</div>
<div class="msServices">      
  <div *ngFor="let item of commitmentItems">
  <div class="msServicesGrid" >
      <img
      src="{{item.image}}"
      class="imagenCommitment"
    />
      <h1 class="msHeadingEigth">{{item.title}}</h1>
      <p class="msParagraphNine" >
        {{item.description}}
      </p>
    </div>
  </div>
</div>
<div class="msSeparator">
  <div class="msContainerW">
    <div class="msDivider"></div>
  </div>
</div>
<div class="msTechnologies">
  <div class="msContainerThree msContainerW">
    <div class="msLayoutGrid msGridSeven">
      <h1
        id="tecnology"
        class="msHeadingT msTecnologyTitle"
      >
        {{titleTechnology}}
      </h1>
      <p
        id="msTecnologyTitle"
        class="msParagraphT"
      >
        <br />{{descriptionTechnology}} <br />
      </p>
    </div>
    <div *ngFor="let item of technologyItemsService" >
      <div class="msLayoutGrid {{item.class}}">
        <h1
          id="typeTechnology"
          class="msHeadingS"
        >
          {{item.title}}
        </h1>
        <div *ngFor="let items of technologyItemsImage ; let index = index">
        <img 
          [id]="item.images[index].id"
          [name]="item.images[index].id"
          [src]="item.images[index].url"          
          class="msTechnologyImage"
          [alt]="item.images[index].id"
        />      
      </div>
    </div>
    </div>
  </div>
</div>
<div class="msContainerW">
  <div class="msDivider"></div>
</div>
<div class="msFooter">
  <div class="msContainer">
    <div class="msRow">
      <div class="msCol msColSix">
        <img
          src="{{imageLocation}}"
          class="imageLocation"
        />
      </div>
      <div class="msCol msColSix">
        <h1 id="location" class="msHeadingTwo">{{titleLocation}}</h1>
        <p class="msParagraphOne">
          {{descriptionLocation}} 
        </p>
        <p>
          <strong>{{titleAddress}}</strong>
          <br />‍<br />{{streetAddress}}
          <br />{{locationAddress}}
          <br />{{floorAddress}}
          <br />{{phoneAddress}}</p>
      </div>
    </div>
  </div>
</div>
<div class="msSection">
  <div class="msContainer">
    <footer class="msFooterWrap">
      <a href="#" class="msInlineBlock">
        <img
          src="{{socialImage}}"
          class="{{socialClassImage}}"/>
        </a>
          <img
        src="{{logoFooterImage}}"
        class="{{logoClassImage}}"/>
    </footer>
  </div>
</div>
