img {
    border: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

img {
    display: block;
    margin-left: 190px;
    padding-left: 0px;
}

.ms-banner {
    display: flex;
    height: 90vh;
    max-height: 780px;
    margin-top: 127px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/banner.png");
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: cover, auto, auto;
    color: #fff;
    white-space: normal;
}

.ms-centered-container {
    flex: 1;
    text-align: center;
}

.ms-w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.ms-w-container:before,
.ms-w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.ms-w-container:after {
    clear: both
}

.ms-section {
    margin-right: 30px;
    margin-left: 30px;
    background-color: #e6e6e6;
}

.ms-section.ms-store-home-wrap {
    margin-bottom: 100px;
    padding-bottom: 0px;
    color: #fff;
}

.ms-container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    object-fit: contain;
}

.ms-motto-wrap {
    width: 80%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;
    text-align: center;
}

.ms-heading-jumbo-small {
    margin-top: 10px;
    margin-bottom: -8px;
    padding-top: 43px;
    padding-bottom: 0px;
    color: #256891;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    text-transform: none;
}

.ms-divider {
    height: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    background-color: #eee;
}

.ms-home-content-wrap {
    margin-top: 80px;
    margin-bottom: 120px;
}

.ms-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.ms-about-grid {
    margin-bottom: 80px;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-areas: ". .";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.ms-about-grid.ms-about-2 {
    margin-bottom: 100px;
    grid-template-areas: ". .";
    grid-template-columns: 2fr 1fr;
}

.ms-home-section-wrap {
    margin-bottom: 30px;
}

#ms-section-three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#ms-section-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.ms-home-section-wrap {
    margin-bottom: 30px;
}

.ms-section-heading {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f15d2c;
    font-weight: 900;
}

.ms-paragraph-light {
    opacity: 0.6;
    font-family: Montserrat, sans-serif;
    color: #256891;
    font-size: 18px;
    font-weight: 400;
}

#ms-image-section-three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#ms-image-section-two {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
    align-self: stretch;
}

.imagen-commitment {
    margin-bottom: auto;
    margin-left: auto;
    height: 40%;
}

.ms-section-image-7 {
    margin-left: auto;
}

.ms-section-image-8 {
    margin-right: 190px;
    padding-right: 0px;
}

.ms-technologu-image {
    margin-left: auto;
}

.ms-grid-10 {
    margin-top: 60px;
    grid-column-gap: 72px;
    grid-template-columns: 1fr 1fr 1fr;
}

.ms-services {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
}

.ms-container-2 {
    padding-bottom: 60px;
}

.ms-grid-3 {
    margin-top: 89px;
    margin-right: 0px;
    margin-left: 0px;
    grid-column-gap: 25px;
    grid-template-columns: 0.75fr 0.75fr 0.75fr;
    grid-template-rows: auto auto auto;
    background-color: transparent;
}

.ms-heading-8 {
    color: #f15d2a;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

#ms-title-Two {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.ms-heading-9 {
    color: #f15d2a;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.ms-paragraph-9 {
    margin-bottom: auto;
    opacity: 0.6;
    color: #256891;
    font-size: 18px;
    text-align: justify;
}

.ms-services-grid{
    margin-right: 2rem;
    margin-top: 3rem;
}

.ms-separator {
    margin-bottom: 124px;
}

.ms-technologies {
    margin-top: -98px;
    margin-bottom: 3px;
    padding-bottom: 70px;
}

.ms-container-3 {
    margin-bottom: auto;
    padding-bottom: 0px;
}

.ms-grid-7 {
    margin-bottom: 10px;
}

.ms-heading-25 {
    color: #f15d2c;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}

#tecnology.ms-tecnology-title {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

#ms-tecnology-description {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.ms-paragraph-18 {
    opacity: 0.6;
    color: #256891;
    text-align: center;
}

.ms-grid-6 {
    grid-column-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#typeTechnology {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
}

.ms-heading-26 {
    color: #f15d2c;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.ms-grid-12 {
    margin-top: 60px;
    grid-column-gap: 71px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ms-grid-14 {
    margin-top: 60px;
    grid-column-gap: 69px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
    #ms-section-two {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 2;
        grid-row-end: 3;
    }

    #ms-section-three {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 2;
        grid-row-end: 3;
    }

    #ms-image-section-two {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }
    
    #ms-image-section-three {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }

    .ms-container {
        max-width: 728px
    }

    .ms-banner {
        margin-top: 120px;
        background-image: url("/assets/banner.png");
    }

    .ms-about-grid {
        grid-row-gap: 50px;
        grid-template-areas: "."
            ".";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .ms-about-grid.ms-about-2 {
        grid-template-areas: "."
            ".";
        grid-template-columns: 1fr;
    }

    .ms-div-block {
        margin-bottom: -29px;
    }
  
    .ms-container-2 {
        margin-bottom: 60px;
        padding-bottom: 0px;
    }

    .ms-grid-3 {
        margin: 40px 0px 60px;
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        align-content: stretch;
        grid-auto-flow: row;
        grid-column-gap: 17px;
        grid-template-columns: minmax(0px, 0.75fr) minmax(0px, 0.75fr) minmax(0px, 0.75fr);
    }

    #ms-description-one {
        align-self: auto;
    }

    .ms-paragraph-9 {
        transition: opacity 200ms ease;
        object-fit: fill;
    }

}

@media screen and (max-width: 767px) {
    .ms-banner {
        padding: 40px 20px;
    }

    .ms-container {
        margin-left: 0;
        margin-right: 0
    }

    .ms-section {
        margin-right: 15px;
        margin-left: 15px;
    }

    .ms-section.ms-store-home-wrap {
        margin-right: 15px;
        margin-left: 15px;
    }

    .ms-section.cc-home-wrap {
        margin-right: 15px;
        margin-left: 15px;
    }

    .ms-heading-jumbo-small {
        font-size: 30px;
        line-height: 52px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 36px;
        line-height: 52px;
    }

    .ms-container {
        max-width: none
    }

    .ms-centered-container {
        text-align: left;
    }
}