img {
    border: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.msBanner {
    display: flex;
    height: 90vh;
    max-height: 780px;
    margin-top: 127px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/banner.png");
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: cover, auto, auto;
    color: #fff;
    white-space: normal;
}

.msCenteredContainer {
    flex: 1;
    text-align: center;
}

.msContainerW {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.msContainerW:before,
.msContainerW:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.msContainerW:after {
    clear: both
}

.msContainerW .msRow {
    margin-left: -10px;
    margin-right: -10px
}

.msRow:before,
.msRow:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.msRow:after {
    clear: both
}

.msRow .msRow {
    margin-left: 0;
    margin-right: 0
}

.msCol {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}

.msCol .msCol {
    padding-left: 0;
    padding-right: 0
}

.msColSix {
    width: 50%
}

.imageLocation {
    margin-left: auto;
    width: 50%;
}

.msHeadingTwo {
    color: #f15d2c;
    font-size: 45px;
    font-weight: 900;
}

.msParagraphOne {
    opacity: 0.6;
    color: #256891;
    line-height: 18px;
}

.textBlockTwo {
    opacity: 0.6;
    color: #256891;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.msInlineBlock {
    max-width: 100%;
    display: inline-block
}

.imageLogoFooter {
    margin-left: auto;
    padding-right: 40px;
    width: 177px;
}

.imageSocial {
    margin-left: auto;
    padding-left: 40px;
    width: 150px;
}

.msFooterWrap {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}

.msSection {
    margin-right: 30px;
    margin-left: 30px;
    background-color: #e6e6e6;
}

.msSection.msStoreHomeWrap {
    margin-bottom: 100px;
    padding-bottom: 0px;
    color: #fff;
}

.msContainer {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    object-fit: contain;
}

.msMottoWrap {
    width: 80%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;
    text-align: center;
}

.msHeadingJumboSmall {
    margin-top: 10px;
    margin-bottom: -8px;
    padding-top: 43px;
    padding-bottom: 0px;
    color: #256891;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    text-transform: none;
}

.msDivider {
    height: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    margin-bottom: 30px;
    background-color: #eee;
}

.msHomeContentWrap {
    margin-top: 80px;
    margin-bottom: 120px;
}

.msLayoutGrid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.msAboutGrid {
    margin-bottom: 80px;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-areas: ". .";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.msLayoutGrid.msAboutTwo {
    margin-bottom: 100px;
    grid-template-areas: ". .";
    grid-template-columns: 2fr 1fr;
}

.msHomeSectionWrap {
    margin-bottom: 30px;
}

#msSectionThree {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#msSectionTwo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.msHomeSectionWrap {
    margin-bottom: 30px;
}

.msSectionHeading {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f15d2c;
    font-weight: 900;
}

.msParagraphLight {
    opacity: 0.6;
    font-family: Montserrat, sans-serif;
    color: #256891;
    font-size: 18px;
    font-weight: 400;
}

#msImageSectionThree {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#msImageSectionTwo {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
    align-self: stretch;
}

.imagenCommitment {
    margin-bottom: auto;
    margin-left: auto;
    height: 40%;
}

.msSectionImageLeft{
    margin-left: auto;
}

.msSectionImageRigth {
    margin-right: 190px;
    padding-right: 0px;
}

.msTechnologyImage {
    margin-left: auto;
}

.msGridTen {
    margin-top: 60px;
    grid-column-gap: 72px;
    grid-template-columns: 1fr 1fr 1fr;
}

.msServices {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 5rem;
    padding: 5rem;
}

.ms-container-2 {
    padding-bottom: 60px;
}

.ms-grid-3 {
    margin-top: 89px;
    margin-right: 0px;
    margin-left: 0px;
    grid-column-gap: 25px;
    grid-template-columns: 0.75fr 0.75fr 0.75fr;
    grid-template-rows: auto auto auto;
    background-color: transparent;
}

.msHeadingEigth {
    color: #f15d2a;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

#msTitleTwo {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.ms-heading-9 {
    color: #f15d2a;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.msParagraphNine {
    margin-bottom: auto;
    opacity: 0.6;
    color: #256891;
    font-size: 18px;
    text-align: justify;
}

.msServicesGrid{
    margin-right: 2rem;
    margin-top: 3rem;
}

.msSeparator {
    margin-bottom: 124px;
}

.msTechnologies {
    margin-top: -98px;
    margin-bottom: 3px;
    padding-bottom: 70px;
}

.msContainerThree {
    margin-bottom: auto;
    padding-bottom: 0px;
}

.msGridSeven {
    margin-bottom: 10px;
}

.msHeadingT {
    color: #f15d2c;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}

#tecnology.msTecnologyTitle {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

#msTecnologyTitle {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.msParagraphT {
    opacity: 0.6;
    color: #256891;
    text-align: center;
}

.msGridS {
    grid-column-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#typeTechnology {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
}

.msHeadingS {
    color: #f15d2c;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.msGridT {
    margin-top: 60px;
    grid-column-gap: 71px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.msGridF {
    margin-top: 60px;
    grid-column-gap: 69px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.msFooter {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media screen and (max-width: 991px) {
    #msSectionTwo {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 2;
        grid-row-end: 3;
    }

    #msSectionThree {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 2;
        grid-row-end: 3;
    }

    #msImageSectionTwo {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }
    
    #msImageSectionThree {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }

    .msContainer {
        max-width: 728px
    }

    .msBanner {
        margin-top: 120px;
        background-image: url("/assets/banner.png");
    }

    .msAboutGrid {
        grid-row-gap: 50px;
        grid-template-areas: "."
            ".";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .msAboutGrid.msAboutTwo {
        grid-template-areas: "."
            ".";
        grid-template-columns: 1fr;
    }

    .msDivBlock {
        margin-bottom: -29px;
    }
  
    .msContainerTwo {
        margin-bottom: 60px;
        padding-bottom: 0px;
    }

    .msGridThree {
        margin: 40px 0px 60px;
        justify-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        align-content: stretch;
        grid-auto-flow: row;
        grid-column-gap: 17px;
        grid-template-columns: minmax(0px, 0.75fr) minmax(0px, 0.75fr) minmax(0px, 0.75fr);
    }

    #msDescriptionOne {
        align-self: auto;
    }

    .msParagraphNine {
        transition: opacity 200ms ease;
        object-fit: fill;
    }

}

@media screen and (max-width: 767px) {
    .msBanner {
        padding: 40px 20px;
    }

    .msContainer {
        margin-left: 0;
        margin-right: 0
    }

    .msSection {
        margin-right: 15px;
        margin-left: 15px;
    }

    .msSection.msStoreHomeWrap {
        margin-right: 15px;
        margin-left: 15px;
    }

    .msSection.ccHomeWrap {
        margin-right: 15px;
        margin-left: 15px;
    }

    .msHeadingJumboSmall {
        font-size: 30px;
        line-height: 52px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 36px;
        line-height: 52px;
    }

    .msContainer {
        max-width: none
    }

    .msCenteredContainer {
        text-align: left;
    }
    .msServices {
        display: block;
    }
    .msLayoutGrid {
        display: block;
    }

    .msSectionImageLeft{
        margin-left: auto;
    }
    
    .msSectionImageRigth {
        margin-right: 0px;
        padding-right: 0px;
    }

    .msTechnologyImage {
        width: 50%;
        margin-left: 6rem;
    }

    .msCol {
        padding-left: 6rem;
    }
    .msColSix {
        width: 100%
    }
}