<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="ms-navigation ms-nav">
    <nav class="ms-navigation-wrap">
            <a href="{{logo.url}}" class="ms-logo-link ms-nav-brand ms--current">
                <img src="{{logo.image}}" width="{{logo.width}}" class="ms-logo-image">
            </a>
         <nav class="ms-menu">
                <nav role="ms-navigation" class="ms-navigation-items ms-nav-menu">
                    <div *ngFor="let data of menuItems">
                        <a href="{{data}}" class="{{data.class}}">
                            <strong>{{data.title}}</strong>
                        </a>
                    </div>
                    <a href="" class="ms-button ms-contact-us ms-inline-block">
                        <div class="text-block-3">
                            <strong>CONTACT US</strong>
                        </div>
                    </a>
                    <a href="" class="ms-button ms-contact-us ms-inline-block">
                        <div class="text-block-3">
                            <strong>WORK WITH US</strong>
                        </div>
                    </a>
                </nav>
                <nav class="ms-menu-button ms-nav-button" >
                    <label for="menu">
                        <img src="assets/menu-icon.png"  class="ms-menu-icon">
                    </label>
                  <input type="checkbox" id="menu" class="ms-menu-input">

                  <div class="ms-nav__menu" >
                    <div *ngFor="let data of menuItems">
                        <a href="{{data.url}}" class="{{data.class}}">
                            <strong>{{data.title}}</strong>
                        </a>
                    </div>
                  </div>
                </nav>
        </nav>
    </nav>
</div>