.msInlineBlock {
    max-width: 100%;
    display: inline-block
}

@media screen and (max-width:767px) {
    .msNavBrand {
        padding-left: 10px
    }
}

.msNav {
    position: relative;
    background: #dddddd;
    z-index: 1000
}

.msNav:before,
.msNav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.msNav:after {
    clear: both
}

.msNavBrand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333
}

.msNavLink {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.msNavLink.msCurrent {
    color: #0082f3
}

.msNavMenu {
    position: relative;
    float: right
}

[data-nav-menu-open] {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #C8C8C8;
    text-align: center;
    overflow: visible;
    min-width: 200px
}

.msNavOverlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%
}

.msNavOverlay [data-nav-menu-open] {
    top: 0
}

.msNav[data-animation="over-left"] .msNavOverlay {
    width: auto
}

.msNav[data-animation="over-left"] .msNavOverlay,
.msNav[data-animation="over-left"] [data-nav-menu-open] {
    right: auto;
    z-index: 1;
    top: 0
}

.msNav[data-animation="over-right"] .msNavOverlay {
    width: auto
}

.msNav[data-animation="over-right"] .msNavOverlay,
.msNav[data-animation="over-right"] [data-nav-menu-open] {
    left: auto;
    z-index: 1;
    top: 0
}

.msNavButton {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    user-select: none
}

@media screen and (max-width:991px) {
    .msNav[data-collapse="medium"] .msNavMenu {
        display: none
    }

    .msNav[data-collapse="medium"] .msNavButton {
        display: block
    }
}

@media screen and (max-width:767px) {
    .msNav[data-collapse="small"] .msNavMenu {
        display: none
    }

    .msNav[data-collapse="small"] .msNavButton {
        display: block
    }

    .msNavBrand {
        padding-left: 10px
    }
}

@media screen and (max-width:479px) {
    .msNav[data-collapse="tiny"] .msNavMenu {
        display: none
    }

    .msNav[data-collapse="tiny"] .msNavButton {
        display: block
    }
}

.msLogoLink {
    z-index: 1;
}

.msLogoLink:hover {
    opacity: 0.8;
}

.msLogoLink:active {
    opacity: 0.7;
}

.msMenu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.msNavigationWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.msNavigation {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 50px;
    clear: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    background-color: #fff;
    object-fit: fill;
}

.msNavigationItem {
    padding-top: 9px;
    padding-bottom: 9px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.msNavigationItem:hover {
    opacity: 0.9;
}

.msNavigationItem:active {
    opacity: 0.8;
}

.msNavigationItem.msCurrent {
    opacity: 1;
    color: #1a1b1f;
    font-weight: 600;
}

.msNavigationItem.msCurrent:hover {
    opacity: 0.8;
    color: #32343a;
}

.msNavigationItem.msCurrent:active {
    opacity: 0.7;
    color: #32343a;
}

.msLogoImage {
    display: block;
    margin-left: auto;
}

.msNavigationItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.textBlockThree {
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .msButton {
        justify-content: center;
    }

    .msButton.msContactUs {
        display: block;
        align-self: auto;
        order: 0;
        flex: 0 auto;
    }

    .msLogoLink.msCurrent {
        flex: 0 auto;
    }

    .msMenuIcon {
        display: block;
    }

    .msMenu {
        position: static;
        margin-left: 30px;
    }

    .msNavigationWrap {
        align-items: center;
        background-color: #fff;
    }

    .msNavigation {
        display: flex;
        padding: 25px 30px;
        align-items: flex-start;
    }

    .msNavigationItem {
        padding: 15px 30px;
        transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
        text-align: center;
    }

    .msNavigationItem:hover {
        background-color: #f7f8f9;
    }

    .msNavigationItem:active {
        background-color: #eef0f3;
    }

    .msMenuButton {
        position: relative;
        left: auto;
        top: 0%;
        right: 0%;
        display: block;
        padding: 0px;
        order: 0;
        flex: 0 auto;
        white-space: normal;
        object-fit: fill;
    }

    .msMenuButton.msOpen {
        position: relative;
        z-index: auto;
        background-color: transparent;
    }

    .msNavigationItems {
        background-color: #fff;
    }
}

@media screen and (max-width: 767px) {
    .msLogoLink {
        padding-left: 0px;
    }

    .msNavigation {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 479px) {
    .msMenu {
        margin-left: 15px;
    }

    .msNavigation {
        padding-right: 20px;
        padding-left: 20px;
    }

    .msMenuButton {
        flex: 0 0 auto;
    }

    .msMenuIcon{
        display: block;
        cursor: pointer;
    }

    .msMenuInput{
        display: none;
    }

    .msNavLink {
        width: 100%;
    }
    
    .msNavMenuPhone{
     position: fixed;
     top:80px;
     bottom: 0;
     background: #ffffff;
     width: 100%;
     height: 40%;
     left: 0;
     display: grid;
     align-items: center;
     clip-path:   polygon(0 0, 100% 0, 100% 0, 0 0);;
     transition:  clip-path 1s ease-in-out;
    }

    .msMenuInput:checked + .msNavMenuPhone{
        clip-path:  polygon(0 100%, 100% 100%, 100% 0, 0 0)
    }
    
}