<div class="ms-navigation ms-nav">
    <nav class="ms-navigation-wrap">
        <div *ngFor="let data of dataMenu.logo">
            <a href="{{data.url}}" class="{{data.classA}}">
                <img src="{{data.image}}" width="{{data.width}}" class="{{data.classImage}}">
            </a>
        </div>
         <nav class="ms-menu">
                <nav class="ms-navigation-items ms-nav-menu">
                    <div *ngFor="let data of dataMenu.menu">
                        <a href="{{data.url}}" class="{{data.class}}">
                            <strong>{{data.title}}</strong>
                        </a>
                    </div>
                    <div></div>
                    <a  href="#" class="ms-button ms-contact-us ms-inline-block">
                        <div class="text-block-3">
                            <strong>CONTACT US</strong>
                        </div>
                    </a>
                </nav>
                <nav class="ms-menu-button ms-nav-button">
                    <img src="https://uploads-ssl.webflow.com/6062651bd170589a75c3b5f0/6062651bd170585554c3b605_menu-icon.png" alt="" class="ms-menu-icon">
                </nav>
        </nav>
    </nav>
</div>