<div class="ms-section">
  <div class="ms-container">
    <div class="ms-motto-wrap">
      <div class="ms-heading-jumbo-small">
          {{ sectionDescription }}<br/>
      </div>
    </div>
    <div class="ms-divider"></div>
    <div id="whoWeare" class="home-content-wrap">
      <div *ngFor="let items of sectionItems">
        <div class="ms-layout-grid {{items.class}}">
          <div id="ms-section-{{items.id}}">
            <div class="ms-home-section-wrap">
              <h2 id="whoWeare" class="ms-section-heading">{{items.title}}</h2>
              <p class="ms-paragraph-light">
                  {{items.description}}
              </p>
            </div>
          </div>
          <img
              src="{{items.img}}"
              class="ms-section-image-{{items.id}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
