.ws-contact-form {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 3;
  display: none;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 104, 144, 0.85);
  display: block;
  opacity: 1;
}

.ws-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 600px;
  height: 430px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
  background-color: #fff;
}

.ws-heading {
  color: #f15d2a;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
}

.ws-form{
  margin:30px 30px 30px
}

.submit-button{
  margin-top:20px;
}

@media screen and (max-width: 1024px) {
  .ws-block {
    margin-top: 110px;
  }
}

@media screen and (max-width: 768px) {
  .ws-block {
    margin-top: 110px;
  }
}

@media screen and (max-width: 425px) and (min-width: 374px)  {
  .ws-block {
    width: auto;
    height: 30rem;
    margin-top: 150px;
  }
}

@media screen and (max-width: 375px) and (min-width: 319px)  {
  .ws-block {
    width: auto;
    height: 30rem;
    margin-top: 150px;
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {
  .ws-block {
    width: auto;
    height: 30rem;
    margin-top: 150px;
  }
}
